html,
body {
    height: 100%;
}

#header {
    width: 100%;
    height: 10%;
    padding: auto;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#header h1 {
    margin: 0 40px;
}

#mynetwork {
    width: 50%;
    height: 80%;
    /* margin-top: 100px; */
    border: 1px solid lightgray;
}

#container2 {
    width: 50%;
    height: 80%;
    border: 1px solid lightgray;
    /* margin-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#mynetwork2{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

#generate-graph{
    margin:-150px auto;
    display:block;
}


#solve{
    margin:auto;
    display:block;
}

.form{
    margin: 0 auto;
    width: 50%;
    margin-top: 55px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.form button{
    padding: 10px 40px;
}